node_modules
vendor

.env
.env.*
!.env.example

.git
.vscode
.idea
.DS_Store
Thumbs.db

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
